body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

* {
  font-family: "Inter", system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo-border {
  display: flex;
  align-items: center;
}

.flex-objects {
  display: flex;
}

.low-opacity {
  opacity: 0.5;
}

.company-logo {
  border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 50px;
  max-width: 1080px;
  margin: 50px auto;

  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

header {
  border-bottom: 3px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
}

.cart {
  margin-right: 30px;
}

.alignment {
  justify-content: space-between;
  align-items: center;
}

.column-flex {
  flex-direction: column;
}

.content {
  padding: 40px;
}

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search-block {
  border: 2px solid #f3f3f3;
  display: flex;
  align-items: center;
  border-radius: 20px;
  filter: drop-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.25));
  padding: 10px;

  img {
    margin-right: 5px;
  }
}

.search-item {
  border: none;
  font-size: 14px;
  font-weight: 400;

  &::placeholder {
    color: #c4c4c4;
  }
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: 1px solid #f3f3f3;
  padding: 20px 30px;
  width: 220px;
  height: 260px;
  border-radius: 40px;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  .card__img {
    text-align: center;

    img {
      border: 1px solid #f3f3f3;
      border-radius: 20px;
      margin-bottom: 15px;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 15px;
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  b {
    font-size: 14px;
  }
}

.button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  right: 0;
  width: 385px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
}

.cart-title {
  font-size: 24px;
  font-weight: 700;
}

.cartList {
  flex: 1;
  overflow: auto;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 20px;

  p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  b {
    font-size: 14px;
  }
}

.cartItem-image {
  margin-right: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
}

.cartItem-buttton {
  margin-left: 9px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.total-block {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;

  div {
    flex: 1;
    height: 1px;
    border: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 5px;
  }
}

.confirm-button {
  background-color: #00c2ff;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 55px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: lighten(#00c2ff, 10%);

    img {
      transform: translateX(20px);
    }
  }

  &:active {
    background-color: darken(#00c2ff, 10%);
  }

  span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }

  img {
    position: relative;
    left: 30px;
    transition: 0.1s ease-in-out;
  }
}
